body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 32px;
    background-color: #020617;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 2px;
    }

    #container {
        padding: 8px !important;
    }

    #question-blob {
        margin-right: 8px !important;
    }

    #response-blob {
        margin-left: 8px !important;
    }
}

#container {
    background-color: #1f2937;
    padding: 32px;
    border-radius: 16px;
    height: 100vh;
}

#title {
    margin-block: 32px;
    font-size: 32px;
    font-weight: 700;
    color: #aab0bb;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#prompt-section {
    -webkit-box-shadow: 0px -9px 22px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -9px 22px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -9px 22px -15px rgba(0, 0, 0, 0.75);
    background: #f9f9f9;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #262626;
}

#prompt-button {
    padding: 16px;
    margin-right: 16px;
    border-radius: 32px;
    border: 2px solid rgb(255, 199, 115);
    background-color: #3b3b3b;
    width: 52px;
    height: 52px;
}

#prompt-textarea {
    padding: 16px;
    border-radius: 32px;
    border: none;
    flex: 1;
    resize: none;
}

#question-blob {
    color: #f8fafc;
    margin-right: 64px;
    padding-inline: 32px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    margin-bottom: 8px;
    background-color: #94a3b879;
    display: flex;
    flex-grow: 1;
}

#response-blob {
    margin-left: 64px;
    padding-inline: 32px;
    padding-block: 0px;
    color: #f8fafc;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    background-color: #94a3b879;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
